<div class="flash-messages">
  <% flash.each do |key, message| %>
    <div class="flash <%= key %>">
      <%= message %>
    </div>
  <% end %>
</div>

<table class="modern-table">

  <thead>
    <tr>
      <th><%= sortable "name", "Uživatel" %></th>
      <th><%= sortable "email", "Email" %></th>
      <th><%= sortable "count", "Počet rezervací" %></th>
      <th colspan="2", style="--custom-width: 50px;">Úpravy</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user_path(user) %></td>
        <td><%= user.email %></td>
        <td><%= user.reservations.count %></td>
        <td><%= link_to edit_user_path(user, source: 'users'), title: "Upravit" do %>
          <i class="fa-solid fa-pen"></i><% end %></td>
        <td><%= link_to user_path(user), title: "Smazat", data: { turbo_method: :delete, turbo_confirm: "Opravdu chcete smazat tuto rezervaci?" } do %>
          <i class="fa-solid fa-trash-can"></i><% end %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<h2><%= link_to new_user_path, title: "Přidat uživatele" do %>
  <i class="fa-solid fa-square-plus"></i><% end %></h2>